{% extends 'base.html' %}
{% block content %}
    <h3>Connections for company with ID: {{ company_id }}</h3>
    {% for integration in credentials %}
        <div style="margin-left: 2em">
            <h4>
                {{ integration.name }} ({{ integration.id }})
                <a href="#"
                   onclick="window.open('{% url 'connect' company_id=company_id integration_id=integration.id %}')"
                   style="padding: 0.3em 0.8em; border-radius: 0.3em; background: #183dfb; color: white; text-decoration: none;">
                    New Connection
                </a>
            </h4>
            <h5>Existing connections to {{ integration.name }}</h5>
            <div style="padding: 0 0 1em 1em">
                {% for cred in integration.credentials %}
                    <div style="margin-bottom: 2em">
                        <div>ID: {{ cred.id }}</div>
                        <div>Name: {{ cred.name }}</div>
                        <div>Created At: {{ cred.created_at }}</div>

                        <div style="padding-left: 2em">
                            {% for acc in cred.accounts %}
                                <div style="margin-bottom: 1em">
                                    <div>Account ID: {{ acc.id }}</div>
                                    <div>Account Name: {{ acc.name }}</div>
                                    <div>Account Native ID: {{ acc.native_id }}</div>
                                    <div>Account is error: {{ acc.is_error }}</div>
                                    <div>Account DataLake: <a
                                        href="{% url 'data_lake' company_id=company_id integration_id=integration.id account=acc.id %}">DataLake</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <script>
        let lastVisibilityState = null;
        document.addEventListener("visibilitychange", function (event) {
            if (document.visibilityState === 'visible' && lastVisibilityState === 'hidden') {
                location.reload();
            }
            lastVisibilityState = document.visibilityState;
        });
    </script>
{% endblock %}
