{% extends 'base.html' %}
{% block content %}

    <h3>Data Lake</h3>

    {% for schema_name, links in data.items %}
        <div>
            <h4>Data Schema: {{ schema_name }}</h4>
            <div style="padding-left: 1em">
                {% for link in links %}
                    <ul>
                        <li><b>Date: {{ link.date }}</b></li>
                        <li>Url: <a href="{{ link.url }}" target="_blank">download</a></li>
                        <li>AccountID: {{ link.account_id }}</li>
                        <li>Service status: {{ link.service_status }}</li>
                        <li>Data status: {{ link.data_status }}</li>
                        <li>Data updated at: {{ link.data_updated_at }}</li>
                    </ul>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
