<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conduit Demo</title>
</head>
<body>
    <h3>User GUID: {{ user_guid }}</h3>

    <h3>Connections</h3>
    {% for driver in credentials %}
        <div style="margin-left: 2em">
            <h4>
                {{ driver.name }} ({{ driver.id }})
                <a href="#"
                   onclick="window.open('{% url 'connect' driver_id=driver.id %}')"
                   style="padding: 0.3em 0.8em; border-radius: 0.3em; background: #183dfb; color: white; text-decoration: none;">
                    Connect
                </a>
            </h4>

            <div style="padding: 0 0 1em 1em">
                {% for cred in driver.credentials %}
                    <div style="margin-bottom: 2em">
                        <div>ID: {{ cred.id }}</div>
                        <div>Name: {{ cred.name }}</div>
                        <div>Created At: {{ cred.created_at }}</div>

                        <div style="padding-left: 2em">
                            {% for acc in cred.accounts %}
                                <div style="margin-bottom: 1em">
                                    <div>Account ID: {{ acc.id }}</div>
                                    <div>Account Name: {{ acc.name }}</div>
                                    <div>Account Native ID: {{ acc.native_id }}</div>
                                    <div>Account is error: {{ acc.is_error }}</div>
                                    <div>Account DataLake: <a href="{% url 'data_lake' driver_id=driver.id account_id=acc.id%}">DataLake</a> </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</body>
</html>
