{% extends 'base.html' %}
{% block navigation %}{% endblock %}
{% block content %}
    <h3>Add new Company</h3>
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="text" name="company_id" placeholder="new company id">
        </label>
        <input type="submit" value="Add Company">
    </form>
    <h3>App Companies</h3>
    <table>
        <thead>
        <tr>
            <th>created_at</th>
            <th>company_id</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies reversed %}
            <tr>
                <td>{{ company.created_at }}</td>
                <td>{{ company.id }}</td>
                <td>
                    <a href="{% url 'company_info' company_id=company.id %}">
                        see connections
                    </a>
                    <br>
                    {% if company.link_page.enabled %}
                        <a href="{{ company.link_page.url }}">
                            edit connections
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
