{% extends 'base.html' %}
{% block navigation %}{% endblock %}
{% block content %}
    <h3>App Users</h3>
    <table>
        <thead>
        <tr>
            <th>created_at</th>
            <th>guid</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.created_at }}</td>
                <td>{{ user.guid }}</td>
                <td>
                    <a href="{% url 'user_info' guid=user.guid %}">
                        see connections
                    </a>
                    <br>
                    <a href="{{ user.edit_url }}">
                        edit connections
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Add new User</h4>
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="text" name="guid" placeholder="new username">
        </label>
        <input type="submit" value="Add User">
    </form>
{% endblock %}
